.main-nav {
  padding: var(--spacer-200) var(--spacer-200);
  & li {
    list-style: none;
  }
  & a {
    color: var(--clr-neutral-100);
    @include text-preset($text-preset-5);
    transition: color 0.2s ease-in-out;
    &:hover {
      color: var(--clr-accent);
    }
  }
}

.hero {
  position: relative;
  margin-top: var(--spacer-400);
  &__content {
    padding: 0 var(--spacer-200) 10rem;
  }
  &__title {
    @include text-preset($text-preset-1);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: var(--spacer-500);
  }
  &__image {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 40rem;
    z-index: 2;
  }
}

.hero::after {
  position: absolute;
  left: 0;
  content: "";
  border-bottom-left-radius: 100% var(--spacer-400);
  border-bottom-right-radius: 100% var(--spacer-400);
  width: 100%;
  background-color: #24053e;
  height: var(--spacer-400);
  z-index: 1;
}

@media (min-width: 40rem) {
  .main-nav {
    padding: var(--spacer-600);
  }
  .hero {
    &__title {
      max-width: 12ch;
      margin-inline: auto;
    }
    &__image {
      top: 110%;
    }
  }
  .header {
    background: var(--clr-primary-900);
    background-image: url("./assets/images/bg-pattern-1.svg"),
      url("./assets/images/bg-pattern-2.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -12rem 50%, calc(100% + 6rem) 90%;
  }
}
@media (min-width: 60rem) {
}
